{% load static %}
<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>ユーザー情報一覧</title>
</head>
<body>
    <h1>ユーザー情報一覧</h1>
  <form action="/user-info/">
    <label for="site-search">Search the site:</label>
    <input type="search" id="site-search" name="q" />
    <button type="submit">Search</button>
  </form>
  <table>
    <thead>
      <tr>
        <th>ユーザーID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
	<th>生年月日</th>
	<th>活動権限</th>
      </tr>
    </thead>
    <tbody>
      {% for object in objects %}
      <tr>
        <th>{{ object.id }}</th>
	<td>{{ object.last_name }} {{object.first_name}}</td>
        <td>{{ object.email }}</td>
	<td>{{ object.birthdate }}</td>
	{% if object.is_active %}
	<td align=center><img src="{% static 'user_app/img/icon-yes.svg' %}"></td>
	{% else %}
	<td align=center><img src="{% static 'user_app/img/icon-no.svg' %}"></td>
	{% endif %}
	<td>
          <a href="{% url 'user_app:detail' user_id=object.id %}">詳細</a>
          <a href="{% url 'user_app:delete' user_id=object.id %}">削除</a>
	</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
    <p><a href="/mypage/">戻る</a></p>
</body>

</html>
