{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/sample.css' %}" rel ="stylesheet">
    <title>パスワード再発行完了</title>
</head>
<body>
    <div class="logo">
        <img class="furattosalogo" src="{% static 'login_app/images/furattosalogo.png' %}"  width="246" height="82">
        {% comment %} width="984" height="329" {% endcomment %}
    </div>
    <form>
        <h2 class="passreset-done">パスワード再発行完了</h2>
        {% csrf_token %}
        <p class="input_mail-done">新しいパスワードが登録したメールアドレスに送信されました。届いていない場合は迷惑メールフォルダの確認をお願いします。</p>
	<button type="button" class="return" onclick=location.href='{% url 'login_app:login' %}'>ログインページへ</button>
	</form>
</body>
</html>
