body {
	margin: 0;
	font-weight: bold;
}

/* チャット画面全体 */
.chat-header {
	text-align: left;
	font-size: 3vh;
	color: gray;
	height: 5%;
}

.back-button {
	text-decoration: none;
	color: inherit;
}

.chat-container {
	height: 95%;
}

/* メッセージ表示エリア */
.message-container {
	height: 90%;
	font-size: 2vw;
	overflow-y: scroll;
	background-color: whitesmoke;
}

/* メッセージ */
.message {
	background-color: lightgreen;
	border-radius: 2em;
	max-width: 60vw;
	width: fit-content;
	margin: 1em 0;
	padding: 1vw 2vw;
	display: flex;
	align-items: flex-end;
	flex-direction: row;
}

.left-message {
	text-align: left;
}

.left-message .message-info {
	order: 2;
}

.left-message .message-text {
	order: 1;
}

.right-message {
	text-align: left;
	margin-left: auto;
}

.message-info {
	color: white;
	font-size: 1em;
	margin: 0.8vw;
}

.message-text {
	color: black;
	font-size: 2.4em;
	word-break: break-word;
	vertical-align: bottom;
}

/* 日付区切り */
.date-divider {
	color: gray;
	font-size: 1.8em;
	background-color: white;
	border-radius: 1em;
	padding: 4px;
	width: 16vw;
	text-align: center;
	margin: 1vw auto;
}

/* メッセージ入力エリア */
.message-input-container {
	height: 10%;
}

/* メッセージ入力 */
.message-input {
	margin: 0;
	width: 90%;
	height: 100%;
	color: black;
	text-align: left;
	vertical-align: top;
	resize: none;
}

.message-input::placeholder {
	font-size: 2em;
}

/* 送信ボタン */
.message-send-button {
	vertical-align: top;
	margin: 0;
	color: blue;
	width: 6%;
	aspect-ratio: 1/1;
	font-size: 2em;
}