body {
	margin: 0;
	font-weight: bold;
}

/* チャット画面全体 */
.chat-header {
	text-align: left;
	font-size: 3vh;
	color:#525252;
	height: 6%;
	display: flex;
	align-items: center;
}

.back-button {
	text-decoration: none;
	color: inherit;
	margin: 0 2vh;
}

.chat-container {
	height: 92%;
}

/* メッセージ表示エリア */
.message-container {
	height: 90%;
	font-size: 1.4vh;
	overflow-y: scroll;
	background-color: whitesmoke;
}

/* メッセージ */
.message {
	display: flex;
	align-items: flex-end;
	flex-direction: row;
	margin: 2vh;
	text-align: left;
}

.left-message .message-info {
	order: 2;
}

.left-message .message-text {
	order: 1;
}

.right-message {
	justify-content: flex-end;
}

.right-message .message-info {
	text-align: right;
}

.message-info {
	color:dimgray;
	font-size: 1em;
	margin: 0 1vw;
}

.message-text {
	background-color: lightgreen;
	border-radius: 2.4vh;
	max-width: 60vw;
	width: fit-content;
	padding: 1vh;
	color: black;
	font-size: 1.6em;
	line-break: anywhere;
}

/* 日付区切り */
.date-divider {
	color: gray;
	font-size: 1.4em;
	background-color: white;
	border-radius: 2vh;
	padding: 1vh;
	width: 10vh;
	text-align: center;
	margin: 2vh auto;
}

/* メッセージ入力エリア */
.message-input-container {
	height: 10%;
	padding: 1vh 1vw;
}

/* メッセージ入力 */
.message-input {
	margin: 0;
	width: 90%;
	height: 100%;
	color: black;
	text-align: left;
	vertical-align: top;
	resize: none;
	padding: 1vw;
	border-radius: 1vw;
	line-break: anywhere;
}

.message-input::placeholder {
	font-size: 1em;
}

/* 送信ボタン */
.message-send-button {
	vertical-align: top;
	color:coral;
	background-color: inherit;
	max-width: 8%;
	width: 6vh;
	aspect-ratio: 1;
	font-size: 2.4vh;
	border: 0.4vh solid coral;
	border-radius: 2vh;
	padding: 0;
}

.message-send-button:hover {
	background-color: rgb(255, 188, 163);
	color: white;
}