body {
	font-family: YuGothic,'Yu Gothic','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
	font-weight: bold;
	margin: 0;
}

/* チャット画面全体 */
.chat-header {
	text-align: left;
	font-size: 3vh;
	color:#525252;
	height: 6%;
	display: flex;
	align-items: center;
}

.back-button {
	font-family: monospace;
	text-decoration: none;
	color: inherit;
	margin: 0 2vh;
}

.chat-container {
	height: 94%;
}

/* メッセージ表示エリア */
.message-container {
	height: 90%;
	font-size: 1.6vh;
	overflow-y: scroll;
	background-color:aliceblue;
}

/* メッセージ */
.message {
	display: flex;
	align-items: flex-end;
	flex-direction: row;
	margin: 1vh;
	text-align: left;
}

.left-message .message-info {
	order: 2;
}

.left-message .message-text {
	order: 1;
	background-color: white;
	color:rgb(133, 162, 215);
}

.right-message {
	justify-content: flex-end;
}

.right-message .message-info {
	text-align: right;
}

.right-message .message-text {
	background-color: rgb(127, 202, 242);
	color: white;
}

.message-info {
	color:dimgray;
	font-size: 1em;
	margin: 0 1vh;
}

.message-text {
	border-radius: 2vh;
	max-width: 60vw;
	width: fit-content;
	padding: 0.6vh 2vh;
	font-size: 1.6em;
	line-break: anywhere;
}

/* 日付区切り */
.date-divider {
	color: gray;
	font-size: 1.4em;
	background-color: white;
	border-radius: 2vh;
	padding: 1vh;
	width: 10vh;
	text-align: center;
	margin: 2vh auto;
}

/* メッセージ入力エリア */
.message-input-container {
	height: 10%;
	display: flex;
}

/* メッセージ入力 */
.message-input {
	width: 80%;
	height: 100%;
	color: black;
	text-align: left;
	vertical-align: top;
	resize: none;
	padding: 1vw;
	line-break: anywhere;
	border: none;
	font-size: 1.8vh;
}

.message-input::placeholder {
	font-size: 1.8vh;
}

/* 送信ボタン */
.message-send-button {
	color:coral;
	background-color: inherit;
	width: 20%;
	aspect-ratio: 1;
	font-size: 2.4vh;
	border: 0.4vh solid coral;
	border-radius: 2vh;
	padding: 0;
}

.message-send-button:disabled {
	opacity: 0.4;
}

.message-send-button:hover {
	background-color: rgb(255, 188, 163);
	color: white;
}
