{% load static %}
<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/sample.css' %}" rel ="stylesheet">
    <title>お知らせ詳細情報</title>
</head>
<body>
  <div class="logo">
    <img class="furattosalogo" src="{% static 'login_app/images/furattosalogo.png' %}"  width="246" height="82"> 
</div>
<form>
    <table>
        <h2>お知らせ詳細情報</h2>
        {% for object in objects %}
        <div class="notification-item">
          <label>件名:</label>
          <span>{{ object.title }}</span>
        </div>
        <div class="notification-item">
          <label>掲載期限:</label>
          <span>{{ object.created_at }}</span>
  </table>
  <textarea readonly class="notification_text">
    {{ object.text }}
  </textarea>
  {% endfor %}
  <p><a href="{% url 'notification_app:list' %}">戻る</a></p>
</form>
</body>

</html>
