{% load static %}
<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>新規管理者登録</title>
    <link rel="stylesheet" href="{% static 'common/css/common.css' %}">
</head>
<body>
    <div id="list" class="big-bg">
        <header class="page-header wrapper">
            <h1><a href="{% url 'mypage_app:mypage' %}"><img class="logo" src="{% static 'common/img/logo.svg' %}" alt="ふらっとさ 管理者用ページ"></a></h1>
            <nav>
                <ul class="main-nav">
                    <li><a href="{% url 'passchange_app:passchange' %}">パスワード変更</a></li>
                    <li><a href="{% url 'login_app:logout' %}">ログアウト</a></li>
                </ul>
            </nav>
        </header>
        <div class="list-contents wrapper">
            <article>
                <header class="post-info">
                    <h2 class="post-title">
                        新規管理者登録
                    </h2>
                </header>
    <form action="{% url 'manager_app:create' %}" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <p class="back-button"><input type="submit" value="登録"></p>
    </form>
    </article>

            <aside>
                <h3 class="sub-title">その他のページ</h3>
                <ul class="sub-menu">
                    <li><a href="{% url 'manager_app:list' %}">管理者情報一覧</a></li>
                    <li><a href="{% url 'notification_app:list' %}">お知らせ情報一覧</a></li>
                    <li><a href="{% url 'contact_app:list' %}">お問い合わせ情報一覧</a></li>
                    <li><a href="{% url 'task_app:list' %}">依頼情報一覧</a></li>
                </ul>

                <h3 class="sub-title">あなたの所属グループ</h3>
                <ul class="sub-menu">
                    {% for group in department_groups %}
                    <li><a>{{ group.name }}</a></li>
                    {% endfor %}
                </ul>
            </aside>
        </div>
        <footer>
            <p><small>&copy; 2025 Mangosteen</small></p>
        </footer>
    </div>
</body>
</html>
